{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% load i18n %}

{% block title %}
{% trans 'Post' %}
{% endblock title %}

    <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %} <!-- Не забываем по csrf_token для POST-запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %} <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected >{% endif %} >
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="set">
    </form>

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.title }}</h1>
<!-- <h1>{{ post.title|censor }}</h1> -->
<h3>{{ post.dateCreation|date:'M d Y' }}</h3>
<!--<h4>author: {{ post.author }}</h4>-->
<!--<h5>rating: {{ post.rating }}</h5>-->
{{ post.text }}
<!-- {{ post.text|censor }} -->

{% endblock content %}l>