{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% load i18n %}

{% block title %}
{% trans 'Search' %}}
{% endblock title %}
 
{% block content %}
<h3>{% trans 'All news:' %}</h3>
<h3>{% trans 'Total:' %} {{ news|length }}</h3>
<hr>

<form action ="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="{% trans 'Search' %}" />
</form>
<!--<form action="" method="get" >
    {{ filterset.form.non_field_errors }}

    {{ filterset.form.name__icontains.errors }}
    <label for="{{ filterset.form.name__icontains.id_for_label }}">Search</label>
    <input
        id="{{ filterset.form.name__icontains.id }}"
        name="{{ filterset.form.name__icontains.name }}"
        value="{{ filterset.form.name__icontains.value }}"
        class="form-control"
    >
    <input type="submit" class="mt-3 btn-primary" value="Найти" />
</form>-->
{% if news %}
<table>
    <tr>
    <td>{% trans 'Title' %}</td>
    <td>{% trans 'Publication date' %}</td>
    <td>{% trans 'Description' %}</td>
    </tr>
    {% for i in news %}
    <tr>
        <td>{{ i.title}} </td>
        <!-- <td>{{ i.title|censor}} </td> -->
        <td>{{ i.dateCreation|date:'M d Y' }}</td>
        <td>{{ i.text|truncatewords:20 }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2> {% trans 'Nothing here' %}</h2>
{% endif %}

{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">&laquo;</a>
<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}


{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
<a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
{% endif %}
{% endblock content %}
